*.mat
*.dll
*.xml
*.vsp
lab_01/c_encoder/ppe/ppe.*
lab_01/c_encoder/ppe.*
lab_01/c_encoder/ppe/Debug/*
lab_01/c_encoder/ppe/Release/*
lab_01/c_encoder/extlibs/*
lab_01/c_encoder/Release/*
lab_01/c_encoder/Debug/*
lab_01/c_encoder/extlibs/*
lab_01/c_encoder/ppe/Release/*
lab_01/outputs/*
*.psess
*.suo
*.pd_
*.tlog
lab_02/cl_encoder/bin/*
lab_02/cl_encoder/obj/*
*.dat
*.png